body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  height: 100px;
  width: 100%;
  background-color: cadetblue;
}

footer {
  height: 100px;
  width: 100%;
  background-color: cadetblue;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
h2 {
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 34px;
  color: rgb(35, 35, 150);
}

h3 {
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}
p {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
}

/* .............................................................. */
/* Section practices choice */

.practice_choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 15px;
  gap: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
}

.practices_choices_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 10px;
  position: relative;
}

.practice_CardOne,
.practice_CardTwo,
.practice_CardThree,
.practice_CardFour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
    position: relative;
 
}

.practice_numberOne,
.practice_numberTwo,
.practice_numberThree,
.practice_numberFour {
  background-color: coral;
  border: none;
  border-radius: 45px;
  height: 60px;
  width: 60px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  color: white;
   position: absolute;
   transform: rotate(-6deg);
   left:-40px;
   top:-20px;

}

/* .............................................................. */
/* Section choix table */

.table_choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
}
.table_buttonChoice {
  font-size: 18px;
  border: none;
  background-color:coral;
  height: 60px;
  width: 80px;
  color: white;
  font-weight: 700;
  border-radius: 40px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
  border: solid white 3px;
}

.Buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.table_choose{
text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: coral;
}

/* .............................................................. */
/* Section practices chooses */

.practices_chooses {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
}

.practice_one_choose,
.practice_two_choose,
.practice_three_choose,
.practice_four_choose {
  position: relative;
}

/* .practiceChoose_buttonNumberOne,
.practiceChoose_buttonNumberTwo,
.practiceChoose_buttonNumberThree,
.practiceChoose_buttonNumberFour {
  background-color: coral;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 100px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  transform: rotate(-15deg);
  position: absolute;
  top: -30px;
} */

.first_practice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 400px;
  border-radius: 20px;
  background-color: coral;
  padding: 20px;
  position: relative;
  margin-top: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
  gap: 8px;
}

.first_practice_button {
  font-size: 18px;
  border: none;
  background-color: chocolate;
  height: 60px;
  width: 120px;
  color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border: solid white 2px;
  position: absolute;
  top: -20px;
  left: -30px;
  border-radius: 15px;
  transform: rotate(-15deg);
}

.question_firstPractice {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
}

.your_choice_firstPractice {
  border-radius: 20px;
  height: 50px;
  width: 50%;
  border: none;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2) inset;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  text-align: center;
}

.FirstPractice_ResponseSend {
  border-radius: 6px 12px 24px 5px;
  height: 50px;
  width: 50%;
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  text-align: center;
  background-color: rgb(117, 163, 248);
  color: white;
}
