body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

h3 {
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  margin-top: 30px;
}
p {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  /* padding: 5px; */
  /* line-height: 20px; */
}
/* .............................................................. */
/* Section choix table */

.choice_table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  background-color: bisque;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 15px;
}
.buttons_number {
  border: none;
  background-color: chocolate;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

/* .............................................................. */
/* Section practices */

.practice_choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin-top: 10px;
  background-color: bisque;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 15px;
}

.practices_choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.practice_one,
.practice_two,
.practice_three,
.practice_four {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  width: 100%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  position: relative;
}

.practice_numberOne,
.practice_numberTwo,
.practice_numberThree,
.practice_numberFour {
  background-color: coral;
  border: none;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg);
  position: absolute;
  top: -20px;
}
